* {
	margin: 0;
	padding: 0;
}

body {
	background-color: hsl(0, 0%, 95%);
	font-family: "Lexend Deca", sans-serif;

	display: flex;
	justify-content: center;
	align-items: center;

	min-height: 100vh;
}

.component {
	width: 65%;
	max-width: 800px;
	display: flex;
	border-radius: 8px;
	overflow: hidden;
}

.column {
	gap: 4rem;
	width: 33.33%;
	padding: 35px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.sedans {
	background-color: hsl(31, 77%, 52%);
}

.suvs {
	background-color: hsl(184, 100%, 22%);
}

.luxury {
	background-color: hsl(179, 100%, 13%);
}

.icon {
	width: 50px;
}

/* Text */
.content {
	color: hsl(0, 0%, 95%);
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.description {
	color: hsla(0, 0%, 100%, 0.75);
	line-height: 1.8;
	font-size: 0.8rem;
}

.title {
	font-family: "Big Shoulders";
	text-transform: uppercase;
	font-size: 2rem;
}

/* Buttons */
.btn {
	background-color: hsl(0, 0%, 95%);
	border: none;
	padding: 10px 24px;
	border-radius: 20px;
	font-size: 0.7rem;
	width: fit-content;
}

.btn.sedans {
	color: hsl(31, 77%, 52%);
}

.btn.suvs {
	color: hsl(184, 100%, 22%);
}
.btn.luxury {
	color: hsl(179, 100%, 13%);
}

@media screen and (max-width: 820px) {
	.component {
		width: 80%;
		max-width: 500px;
		flex-direction: column;
		margin-top: 80px;
		margin-bottom: 80px;
	}

	.column {
		gap: 16px;
		width: 80%;
		padding: 10%;
	}
}
